/*****************************************/
/*****************************************/
/* Symphony Window Theme */
Symphony {
    background: rgb(52, 52, 52);
    border: 0px solid rgb(52, 52, 52);
    border-radius: 4px;
    padding: 2px;
}
/*****************************************/
/*****************************************/
/* PlayerWidget Frame Theme */
PlayerWidget {
    background: rgb(40, 40, 40);
    border: 0px solid rgb(7, 7, 7);
    border-bottom-width: 1px;
}
PlayerButton {
    border-radius: 4px;
    background:transparent;
    icon-size: 36px;
}
PlayerButton:hover {
    background: rgb(55, 87, 118);
}
PlayerOptionButton {
    icon-size: 20px;
    border-radius: 4px;
    background:transparent;
}
PlayerOptionButton:hover {
    background: rgb(55, 87, 118);
}
AppButton {
    padding: 2px;
    border-radius: 4px;
    background:transparent;
    icon-size: 20px;
}
AppButton:hover {
    background: rgb(55, 87, 118);
}
SystemButton {
    margin: 1px;
    margin-left: 2px;
    padding: 1px;
    border-radius: 4px;
    background:transparent;
    icon-size: 22px;
}
SystemButton:hover {
    background: rgb(55, 87, 118);
}
PlayerWidget > CoverImage {
    icon-size: 36px;
}
PlayerWidget > TitleLabel {
    font-size: 12px;
    font-weight:bold;
}
PlayerWidget > ArtistLabel {
    font-size: 10px;
    font-weight:bold;
}
SongCoverLabel {
    min-height: 30px;
}
SongTitleLabel {
    font-size: 12px;
    font-weight:bold;
}
SongArtistLabel {
    font-size: 10px;
    font-weight:bold;
}
QSlider::groove:horizontal {
    background: rgb(49,49,49);
/*     border: 1px solid rgb(7,7,7); */
    border-radius: 4px;
    height: 8px;
}
QSlider::sub-page:horizontal {
    background: rgb(52,73,94);
/*     border: 1px solid rgb(7,7,7); */
    border-radius: 4px;
}
QSlider::handle:horizontal {
    background: white;
/*    border-radius: 5px;
    height: 2px;
    width: 8px;
    margin: 0px 0px;*/
    border: 1px solid white;
    width: 8px;
    margin-top: -1px;
    margin-bottom: -1px;
    border-radius: 5px;
}
/*****************************************/
/*****************************************/
/* SidebarSelector Customisation
 */
SidebarFrame > QListWidget {
    background: transparent;
    icon-size: 32px;
    font-size: 14px;
    font-weight: bold;
    padding: 5px;
}
SidebarFrame > QListWidget:item {
/*     min-height: 40px; */
}
SidebarFrame > QListWidget:item:hover {
    background: rgb(55, 87, 118);
    border-radius: 4px;
}
SidebarButton {
    icon-size: 20px;
}
SidebarButton:hover {
    background: rgb(55, 87, 118);
    border-radius: 4px;
}
SidebarFrame {
    border: 0px solid rgb(27, 27, 27);
    border-right-width: 1px;
    background: rgb(49, 49, 49);
}
SidebarIcon {
    icon-size: 32px;
}
SidebarLabel {
    font-size: 14px;
    font-weight: bold;
    text-align: left;
}
/*****************************************/
/*****************************************/
/*****************************************/
/* TrackInfoWidget Customisation
 */
TrackInfoWidget {
    border: 0px solid rgb(27, 27, 27);
    border-right-width: 1px;
}
TrackInfoWidget > TrackCover {
    min-width: 96px;
    min-height: 96px;
}
TrackInfoWidget > TrackTitle {
    font-size: 18px;
    font-weight:bold;
    text-align:center;
}
TrackInfoWidget > TrackArtist {
    font-size: 14px;
    font-weight:bold;
    text-align:center;
}
    
/*NowPlayingWidget > TrackListWidget {
    background: transparent;
}
NowPlayingWidget > TrackListWidget:item {
    min-height: 50px;
}  */  
/*****************************************/
/*****************************************/
/*****************************************/
/* TrackListWidget Customisation
 */
TrackListWidget {
    background: transparent;
    padding: 5px;
}
TrackListWidget > QListWidget {
    background: transparent;
}
TrackListWidget:item {
    min-height: 50px;
}
TrackWidget {
    min-height: 45px;
}
TrackWidget > CoverImage {
    icon-size: 24px;
    /*margin:0px;*/
}
TrackWidget > TitleLabel {
    font-size: 14px;
    font-weight:bold;
    /*margin-top:5px;*/
}
TrackWidget > ArtistLabel {
    font-size: 10px;
    font-weight:bold;
    /*margin-bottom:5px;*/
}

ListWidget {
    margin: 8px;
}
ListItem {
    border-radius: 0px;
    background:transparent;
    text-align:left;
    icon-size: 16px;
    min-height: 18px;
}
ListItem:hover {
    font-weight:bold;
    background:red;
}
ListItem:checked {
    background:blue;
}

/*****************************************/
/*****************************************/
/*****************************************/
/* PlaylistsWidget Customisation
 */
PlaylistsWidget {
    padding: 8px;
}
PlaylistSelector {
}
TrackListSelector {
    padding: 10px;
/*     margin: 3px; */
}
PlaylistItem {
    border-radius: 0px;
    background:transparent;
    text-align:left;
    icon-size: 24px;
    min-height: 30px;
}
/*****************************************/
/*****************************************/
/*****************************************/
/* LibrariesWidget Customisation
 */
LibrariesWidget {
    padding: 8px;
}
LibraryItem {
    border-radius: 0px;
    background:transparent;
    text-align:left;
    icon-size: 24px;
    min-height: 30px;
}
/*****************************************/
/*****************************************/
/*****************************************/
/* TrackListWidget Customisation
 */
TrackListItem {
    min-height: 45px;
    /*margin: 3px;*/
    padding: 6px;
}
TrackListItemCover {
    margin-left: 12px;
    margin-right: 6px;
    min-height: 40px;
}
TrackListItemTitle {
    font-size: 14px;
    font-weight:bold;
    margin-top:12px;
    padding-right: 6px;
}
TrackListItemArtist {
    font-size: 10px;
    font-weight:bold;
    margin-bottom: 12px;
    padding-right: 6px;
}
/*****************************************/
/*****************************************/
/*****************************************/
/* QScrollBar Customisation
 */
QScrollBar:vertical {
  background: transparent;
  min-width: 10px;
  margin: 2px 2px 2px 2px;
  border: 0px solid #00000000;
  border-radius: 5px;
}
QScrollBar:vertical:hover {
/*   background-color: #19232D; */
  min-width: 16px;
/*   border-radius: 4px; */
/*   margin: 16px 2px 16px 2px; */
/*   border: 1px solid #32414B; */
/*   border-radius: 4px; */
}
QScrollBar::handle:vertical {
  background-color: #48787888;
  border: 1px solid #0032414B;
  min-height: 25px;
  border-radius: 5px;
  min-width: 10px;
}
QScrollBar::handle:vertical:hover {
  background: #148CD2;
  border: 1px solid #148CD2;
  border-radius: 5px;
  min-width: 16px;
}
QScrollBar::handle:vertical:focus {
  border: 1px solid #1464A0;
}
QScrollBar::add-line:vertical {
  background: transparent;
  border: 0px solid transparent;
  height: 0px;
  width: 0px;
}
QScrollBar::sub-line:vertical {
  background: transparent;
  border: 0px solid transparent;
  height: 0px;
  width: 0px;
}
QScrollBar::up-arrow:vertical, QScrollBar::down-arrow:vertical {
  background: transparent;
  border: 0px solid transparent;
  max-height: 0px;
  max-width: 0px;
}
TrackItem {
    min-height: 40px;
}
Label {
    padding: 2px;
}
TrackCoverItem {
    icon-size: 30px;
}
TrackCover {
    icon-size: 200px;
}
TrackWidget > CoverImage {
    icon-size: 192px;
}

/*ArtistWidget > ThumbImage {
    icon-size: 48px;
}
ArtistWidget > ArtistLabel {
    font-size: 16px;
    font-weight:bold;
}*/
/* Artist Selector Decoration */
ArtistSelector > ListItem {
    min-height:28px;
    font-size: 14px;
    font-weight:bold;
    icon-size: 24px;
    padding: 4px;
}
/* Artist Banner Decoration */
ArtistBanner {
    padding: 12px;
    background: #375776;
}
ArtistBanner > ThumbImage {
    icon-size: 56px;
}
ArtistBanner > Label {
    font-size: 12px;
    font-weight:bold;
}
ArtistBanner > ArtistLabel {
    font-size: 16px;
    font-weight:bold;
}
/* Artist Item Decoration */
ArtistItem {
    padding: 2px;
    min-height:34px;
/*     background: #375776; */
}
ArtistItem > ThumbImage {
    icon-size: 30px;
}
ArtistItem > Label {
    font-size: 12px;
    font-weight:bold;
}
ArtistItem > ArtistLabel {
    font-size: 14px;
    font-weight:bold;
}
/* ArtistTracksWidget Decoration */
ArtistTracksWidget {
    margin: 0px;
    margin-left: 30px;
    margin-right: 30px;
}
ArtistTracksWidget > AlbumItem {
    margin-top: 20px;
    
}
/* Album Banner Decoration */
AlbumBanner {
    padding: 12px;
    min-height:50px;
    background: #375776;
}
AlbumBanner > ThumbImage {
    icon-size: 56px;
}
AlbumBanner > AlbumLabel {
    font-size: 12pt;
    font-weight:bold;
}
AlbumBanner > ArtistLabel {
    font-size: 10pt;
    font-weight:bold;
}
AlbumBanner > CountLabel {
    font-size: 10pt;
    font-weight:bold;
}
/* Album Item Decoration */
AlbumItem {
    min-height:50px;
}
AlbumItem > ThumbImage {
    icon-size: 40px;
}
AlbumItem > Label {
    font-size: 11px;
    font-weight:bold;
}
AlbumItem > AlbumLabel {
    font-size: 14px;
    font-weight:bold;
}
/* AlbumTracksWidget Decoration */
AlbumTracksWidget {
    margin: 0px;
    margin-left: 30px;
    margin-right: 30px;
}
/* Track Banner Decoration */
TrackBanner {
    padding: 12px;
    min-height:50px;
    background: #375776;
}
TrackBanner > CoverImage {
    icon-size: 40px;
}
TrackBanner > TitleLabel {
    font-size: 16px;
    font-weight:bold;
}
TrackBanner > ArtistLabel {
    font-size: 12px;
    font-weight:bold;
}
TrackBanner > DurationLabel {
    font-size: 12px;
    font-weight:bold;
}
/* Track Item Decoration */
TrackItem {
    min-height:40px;
}
TrackItem > CoverImage {
    icon-size: 30px;
}
TrackItem > TitleLabel {
    font-size: 13px;
    font-weight:bold;
}
TrackItem > ArtistLabel {
    font-size: 10px;
    font-weight:bold;
}
TrackItem > DurationLabel {
    font-size: 10px;
    font-weight:bold;
}
ArtistTracksWidget > AlbumItem {
    min-height: 70px;
    background: #444648;
    border-bottom: 2px solid #aaadaf;
}
ArtistTracksWidget > TrackItem {
    background: #444648;
}
/* Playlist Banner Decoration */
PlaylistBanner {
    padding: 12px;
    background: #375776;
}
NowPlayingWidget > TrackWidget > TrackBanner > CoverImage {
    icon-size: 144px;
}
ElideLabel {
    padding: 4px;
/*     padding-bottom: 0px; */
/*     padding-left: 0px; */
}
SettingsWidget > TabWidget > QFrame {
    border: 0px solid rgb(52, 52, 52);
}
SettingsWidget > ListWidget > ListItem {
    background:transparent;
    icon-size: 36px;
    font-size: 14pt;
    font-weight: bold;
}
SettingsWidget > ListWidget > ListItem:hover {
    background: rgb(55, 87, 118);
}
